    <div>
      <img src='https://i.imgur.com/jFaSxym.png' style='border: 8px double red; max-height: 400px;'>
    </div>
    
    <h1>"My name is <%= ["Amigo", "Misty", "Almond"].sample %>"
    </h1>